---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

@import "normalize", "skeleton", "syntax-highlighting"

.container
  margin-top: 130px

h1
  margin-top: 1em
h2
  margin-top: 1em
h3
  margin-top: 1em
h4
  margin-top: 1em

a
  color: #096b8a

#about-cljsjs
  text-align: right
  padding: 24px 4% 24px 0
  border-right: 1px solid #eee
  #logo
    margin-bottom: 24px

#what-is-cljsjs
  color: #333
  line-height: 1.4
  padding-top: 24px
  .huge
    font-weight: 900
    font-size: 4rem

#currently-available
  li
    list-style: none
    clear: both
    line-height: 38px
    .clojars
      float: right
      input, button
        margin: 0
        padding: 0px 5px
        line-height: 1
        vertical-align: top
      button
        width: 60px
      input
        font-family: Monospace

#whats-in-the-box
  .heading-note
    color: #999
    font-size: 1.5rem
    margin-left: 1rem
  .highlight
    margin-left: -10%
    margin-right: -10%

.tldr
  color: #777
