
<ul>
  <li>
    <a href="https://clojars.org/cljsjs/auth0">auth0</a>
    <a href="https://auth0.com/docs/auth0js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/auth0 "6.3.0-0"]'/>
      <button data-clipboard-text='[cljsjs/auth0 "6.3.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Auth0 JS Lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/boot-cljsjs">boot-cljsjs</a>
    <a href="https://github.com/cljsjs/boot-cljsjs" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/boot-cljsjs "0.4.8"]'/>
      <button data-clipboard-text='[cljsjs/boot-cljsjs "0.4.8"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Tooling to package and deploy Javascript
                      libraries for Clojurescript projects</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/c3">c3</a>
    <a href="http://c3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/c3 "0.4.10-0"]'/>
      <button data-clipboard-text='[cljsjs/c3 "0.4.10-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A D3-based reusable chart library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/codemirror">codemirror</a>
    <a href="https://codemirror.net/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/codemirror "5.1.0-2"]'/>
      <button data-clipboard-text='[cljsjs/codemirror "5.1.0-2"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">CodeMirror is a versatile text editor implemented in JavaScript for the browser</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/css-layout">css-layout</a>
    <a href="https://github.com/facebook/css-layout" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/css-layout "0.0.2-0"]'/>
      <button data-clipboard-text='[cljsjs/css-layout "0.0.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Reimplementation of CSS layout using pure JavaScript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/csv">csv</a>
    <a href="http://gkindel.github.io/CSV-JS/csv.html" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/csv "1.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/csv "1.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Comma-Separated Values parser for JavaScript. Standards-based, stand alone, and no regular expressions.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/d3">d3</a>
    <a href="http://d3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/d3 "3.5.5-3"]'/>
      <button data-clipboard-text='[cljsjs/d3 "3.5.5-3"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript visualization library for HTML and SVG</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dimple">dimple</a>
    <a href="http://dimplejs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dimple "2.1.2-0"]'/>
      <button data-clipboard-text='[cljsjs/dimple "2.1.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript charting library based on d3</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/document-register-element">document-register-element</a>
    <a href="https://github.com/WebReflection/document-register-element" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/document-register-element "0.4.3-0"]'/>
      <button data-clipboard-text='[cljsjs/document-register-element "0.4.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A stand-alone working lightweight version of the W3C Custom Elements specification</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dropbox">dropbox</a>
    <a href="https://github.com/dropbox/dropbox-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dropbox "0.10.3-0"]'/>
      <button data-clipboard-text='[cljsjs/dropbox "0.10.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript client for Dropbox</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/firebase">firebase</a>
    <a href="https://www.firebase.com/docs/web/api/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/firebase "2.2.7-0"]'/>
      <button data-clipboard-text='[cljsjs/firebase "2.2.7-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript client for Firebase.com</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/fixed-data-table">fixed-data-table</a>
    <a href="https://github.com/facebook/fixed-data-table" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/fixed-data-table "0.2.0-0"]'/>
      <button data-clipboard-text='[cljsjs/fixed-data-table "0.2.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A React table component designed to allow presenting thousands of rows of data.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/flot">flot</a>
    <a href="http://www.flotcharts.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/flot "0.8.3-0"]'/>
      <button data-clipboard-text='[cljsjs/flot "0.8.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">flot packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/gl-matrix">gl-matrix</a>
    <a href="http://glmatrix.net/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'/>
      <button data-clipboard-text='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript Matrix and Vector library for High Performance WebGL apps</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/google-maps">google-maps</a>
    <a href="https://developers.google.com/maps/documentation/javascript/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/google-maps "3.18-1"]'/>
      <button data-clipboard-text='[cljsjs/google-maps "3.18-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Google Maps ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hammer">hammer</a>
    <a href="http://hammerjs.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hammer "2.0.4-4"]'/>
      <button data-clipboard-text='[cljsjs/hammer "2.0.4-4"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Hammer.js packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hashids">hashids</a>
    <a href="https://github.com/ivanakimov/hashids.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hashids "1.0.2-0"]'/>
      <button data-clipboard-text='[cljsjs/hashids "1.0.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A small JavaScript class to generate YouTube-like hashids from one or many numbers. This is a client-side version of Node.js version.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/heap">heap</a>
    <a href="https://heapanalytics.com/docs/custom-api" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/heap "0.0.1-0"]'/>
      <button data-clipboard-text='[cljsjs/heap "0.0.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Heap  js ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/highlight">highlight</a>
    <a href="https://highlightjs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/highlight "8.4-0"]'/>
      <button data-clipboard-text='[cljsjs/highlight "8.4-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript syntax highlighter https://highlightjs.org/</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery">jquery</a>
    <a href="http://jquery.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery "2.1.4-0"]'/>
      <button data-clipboard-text='[cljsjs/jquery "2.1.4-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">The Write Less, Do More, JavaScript Library.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-daterange-picker">jquery-daterange-picker</a>
    <a href="https://github.com/longbill/jquery-date-range-picker" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-daterange-picker "0.0.5-2"]'/>
      <button data-clipboard-text='[cljsjs/jquery-daterange-picker "0.0.5-2"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A jQuery plugin that allows user to select a date range.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-ui">jquery-ui</a>
    <a href="http://jqueryui.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-ui "1.11.3-1"]'/>
      <button data-clipboard-text='[cljsjs/jquery-ui "1.11.3-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">jQuery-ui packaged with google closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jsdiff">jsdiff</a>
    <a href="https://github.com/kpdecker/jsdiff" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jsdiff "1.2.2-0"]'/>
      <button data-clipboard-text='[cljsjs/jsdiff "1.2.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JsDiff packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/juration">juration</a>
    <a href="https://github.com/domchristie/juration" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/juration "0.0.1-0"]'/>
      <button data-clipboard-text='[cljsjs/juration "0.0.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Human friendly time duration parsing.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/kemia">kemia</a>
    <a href="http://kemia.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/kemia "0.2.0"]'/>
      <button data-clipboard-text='[cljsjs/kemia "0.2.0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A chemical structure library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/leaflet">leaflet</a>
    <a href="http://leafletjs.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/leaflet "0.7.3-4"]'/>
      <button data-clipboard-text='[cljsjs/leaflet "0.7.3-4"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JavaScript Library for Mobile-Friendly Interactive Maps</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/markdown">markdown</a>
    <a href="https://github.com/evilstreak/markdown-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/markdown "0.6.0-beta1-0"]'/>
      <button data-clipboard-text='[cljsjs/markdown "0.6.0-beta1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Markdown parser for javascript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/matter">matter</a>
    <a href="http://brm.io/matter-js/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/matter "0.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/matter "0.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Matter.js is a JavaScript 2D rigid body physics engine for the web</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/medium-editor">medium-editor</a>
    <a href="https://daviferreira.github.io/medium-editor/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/medium-editor "4.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/medium-editor "4.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Medium.com WYSIWYG editor clone</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/moment">moment</a>
    <a href="http://momentjs.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/moment "2.9.0-0"]'/>
      <button data-clipboard-text='[cljsjs/moment "2.9.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A javascript date library for parsing, validating, manipulating, and formatting dates.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mui">mui</a>
    <a href="https://www.muicss.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mui "0.1.8-0"]'/>
      <button data-clipboard-text='[cljsjs/mui "0.1.8-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">MUI is a lightweight HTML, CSS and JS framework for sites that follow Google's Material Design guidelines.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mustache">mustache</a>
    <a href="https://github.com/janl/mustache.js/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mustache "1.1.0-0"]'/>
      <button data-clipboard-text='[cljsjs/mustache "1.1.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Mustache.js packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/oauthio">oauthio</a>
    <a href="https://oauth.io" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/oauthio "0.4.0-0"]'/>
      <button data-clipboard-text='[cljsjs/oauthio "0.4.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">This is the JavaScript SDK for OAuth.io</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/object-assign-shim">object-assign-shim</a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/object-assign-shim "0.1.0-1"]'/>
      <button data-clipboard-text='[cljsjs/object-assign-shim "0.1.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">ES6 Object.assign method polyfill.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/openlayers">openlayers</a>
    <a href="http://openlayers.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/openlayers "3.5.0-1"]'/>
      <button data-clipboard-text='[cljsjs/openlayers "3.5.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A high-performance, feature-packed library for all your mapping needs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pako">pako</a>
    <a href="http://nodeca.github.io/pako/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pako "0.2.6-0"]'/>
      <button data-clipboard-text='[cljsjs/pako "0.2.6-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">zlib port to javascript, very fast!</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/papaparse">papaparse</a>
    <a href="http://PapaParse.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/papaparse "4.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/papaparse "4.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Fast and powerful CSV (delimited text) parser that gracefully handles large files and malformed input</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/peg">peg</a>
    <a href="http://pegjs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/peg "0.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/peg "0.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">PEG.js: Parser generator for JavaScript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pikaday">pikaday</a>
    <a href="https://github.com/dbushell/Pikaday" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pikaday "1.3.2-0"]'/>
      <button data-clipboard-text='[cljsjs/pikaday "1.3.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A refreshing JavaScript Datepicker - lightweight, no dependencies, modular CSS</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pouchdb">pouchdb</a>
    <a href="http://pouchdb.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pouchdb "3.5.0-0"]'/>
      <button data-clipboard-text='[cljsjs/pouchdb "3.5.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">PouchDB is an open-source JavaScript database inspired by Apache CouchDB that is designed to run well within the browser</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react">react</a>
    <a href="http://facebook.github.io/react/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react "0.13.3-0"]'/>
      <button data-clipboard-text='[cljsjs/react "0.13.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Javascript library for building user interfaces</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-bootstrap">react-bootstrap</a>
    <a href="https://react-bootstrap.github.io/index.html" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-bootstrap "0.21.2-0"]'/>
      <button data-clipboard-text='[cljsjs/react-bootstrap "0.21.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">The most popular front-end framework, rebuilt for React.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-router">react-router</a>
    <a href="https://github.com/rackt/react-router" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-router "0.13.2-0"]'/>
      <button data-clipboard-text='[cljsjs/react-router "0.13.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A complete routing solution for React.js</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-with-addons">react-with-addons</a>
    <a href="http://facebook.github.io/react/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-with-addons "0.13.3-0"]'/>
      <button data-clipboard-text='[cljsjs/react-with-addons "0.13.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">React.js with addons packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/showdown">showdown</a>
    <a href="https://github.com/showdownjs/showdown" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/showdown "0.4.0-1"]'/>
      <button data-clipboard-text='[cljsjs/showdown "0.4.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Markdown to HTML converter written in Javascript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/stripe">stripe</a>
    <a href="https://stripe.com/docs/stripe.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/stripe "2.0-0"]'/>
      <button data-clipboard-text='[cljsjs/stripe "2.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Stripe js ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/three">three</a>
    <a href="http://d3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/three "0.0.70-0"]'/>
      <button data-clipboard-text='[cljsjs/three "0.0.70-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JavaScript 3D library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/topojson">topojson</a>
    <a href="https://github.com/mbostock/topojson" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/topojson "1.6.18-0"]'/>
      <button data-clipboard-text='[cljsjs/topojson "1.6.18-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">An extension to GeoJSON that encodes topology</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/vega">vega</a>
    <a href="https://vega.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/vega "1.5.0-0"]'/>
      <button data-clipboard-text='[cljsjs/vega "1.5.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">vega</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/waypoints">waypoints</a>
    <a href="http://imakewebthings.com/waypoints/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/waypoints "3.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/waypoints "3.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Waypoints is a library that makes it easy to execute a function whenever you scroll to an element.</p>
  </li>
</ul>
