
<ul>
  <li>
    <a href="https://clojars.org/cljsjs/airbrake">airbrake</a>
    <a href="https://github.com/airbrake/airbrake-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/airbrake "0.5.3-0"]'/>
      <button data-clipboard-text='[cljsjs/airbrake "0.5.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Airbrake JavaScript Notifier https://airbrake.io</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/auth0">auth0</a>
    <a href="https://auth0.com/docs/auth0js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/auth0 "6.3.0-0"]'/>
      <button data-clipboard-text='[cljsjs/auth0 "6.3.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Auth0 JS Lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/auth0-lock">auth0-lock</a>
    <a href="https://auth0.com/docs/libraries/lock" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/auth0-lock "7.7.1-0"]'/>
      <button data-clipboard-text='[cljsjs/auth0-lock "7.7.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Auth0 Lock</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/bankersbox">bankersbox</a>
    <a href="https://github.com/twilio/BankersBox" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/bankersbox "0.1.0-0"]'/>
      <button data-clipboard-text='[cljsjs/bankersbox "0.1.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript API for a redis-like API wrapper for data storage in javascript, using localStorage as a default.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/bitauth">bitauth</a>
    <a href="https://github.com/bitpay/bitauth" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/bitauth "0.2.1-0"]'/>
      <button data-clipboard-text='[cljsjs/bitauth "0.2.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Authenticate with web services utilizing the same strategy as Bitcoin</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/boot-cljsjs">boot-cljsjs</a>
    <a href="https://github.com/cljsjs/boot-cljsjs" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/boot-cljsjs "0.5.0"]'/>
      <button data-clipboard-text='[cljsjs/boot-cljsjs "0.5.0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Tooling to package and deploy Javascript
                      libraries for Clojurescript projects</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/bootstrap">bootstrap</a>
    <a href="http://getbootstrap.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/bootstrap "3.3.5-0"]'/>
      <button data-clipboard-text='[cljsjs/bootstrap "3.3.5-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript for Bootstap</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/c3">c3</a>
    <a href="http://c3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/c3 "0.4.10-0"]'/>
      <button data-clipboard-text='[cljsjs/c3 "0.4.10-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A D3-based reusable chart library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/chemdoodle">chemdoodle</a>
    <a href="http://web.chemdoodle.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/chemdoodle "7.0.1"]'/>
      <button data-clipboard-text='[cljsjs/chemdoodle "7.0.1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript Chemostry Visualization Library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/classnames">classnames</a>
    <a href="https://github.com/JedWatson/classnames" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/classnames "2.1.3-0"]'/>
      <button data-clipboard-text='[cljsjs/classnames "2.1.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A simple javascript utility for conditionally joining classNames together</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/codemirror">codemirror</a>
    <a href="https://codemirror.net/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/codemirror "5.7.0-1"]'/>
      <button data-clipboard-text='[cljsjs/codemirror "5.7.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">CodeMirror is a versatile text editor implemented in JavaScript for the browser</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/commonmark">commonmark</a>
    <a href="https://github.com/jgm/commonmark.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/commonmark "0.22.0-0"]'/>
      <button data-clipboard-text='[cljsjs/commonmark "0.22.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">CommonMark is a rationalized version of Markdown syntax.
                      It provides a library with functions for parsing
                      CommonMark documents to an abstract syntax tree (AST),
                      manipulating the AST, and rendering the document to HTML
                      or to an XML representation of the AST.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/css-layout">css-layout</a>
    <a href="https://github.com/facebook/css-layout" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/css-layout "1.0.0-0"]'/>
      <button data-clipboard-text='[cljsjs/css-layout "1.0.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Reimplementation of CSS layout using pure JavaScript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/csv">csv</a>
    <a href="http://gkindel.github.io/CSV-JS/csv.html" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/csv "1.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/csv "1.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Comma-Separated Values parser for JavaScript. Standards-based, stand alone, and no regular expressions.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/d3">d3</a>
    <a href="http://d3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/d3 "3.5.5-3"]'/>
      <button data-clipboard-text='[cljsjs/d3 "3.5.5-3"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript visualization library for HTML and SVG</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/device">device</a>
    <a href="https://github.com/matthewhudson/device.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/device "0.2.7-0"]'/>
      <button data-clipboard-text='[cljsjs/device "0.2.7-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Device.js makes it easy to write conditional CSS _and/or_ JavaScript based on device operating system (iOS, Android, Blackberry, Windows, Firefox OS, MeeGo, AppleTV, etc), orientation (Portrait vs. Landscape), and type (Tablet vs. Mobile).</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dimple">dimple</a>
    <a href="http://dimplejs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dimple "2.1.2-0"]'/>
      <button data-clipboard-text='[cljsjs/dimple "2.1.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript charting library based on d3</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/document-register-element">document-register-element</a>
    <a href="https://github.com/WebReflection/document-register-element" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/document-register-element "0.4.3-0"]'/>
      <button data-clipboard-text='[cljsjs/document-register-element "0.4.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A stand-alone working lightweight version of the W3C Custom Elements specification</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dom4">dom4</a>
    <a href="https://github.com/WebReflection/dom4" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dom4 "1.4.5-0"]'/>
      <button data-clipboard-text='[cljsjs/dom4 "1.4.5-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A DOM4 polyfill for parentNodes/childNodes entries</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dropbox">dropbox</a>
    <a href="https://github.com/dropbox/dropbox-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dropbox "0.10.3-0"]'/>
      <button data-clipboard-text='[cljsjs/dropbox "0.10.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript client for Dropbox</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/echarts">echarts</a>
    <a href="http://ecomfe.github.io/echarts/index-en.html" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/echarts "2.2.7-0"]'/>
      <button data-clipboard-text='[cljsjs/echarts "2.2.7-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A declarative JavaScript chart library built on HTML Canvas</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/enquire">enquire</a>
    <a href="http://wicky.nillia.ms/enquire.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/enquire "2.1.2-0"]'/>
      <button data-clipboard-text='[cljsjs/enquire "2.1.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">enquire.js is a lightweight, pure JavaScript library for responding to CSS media queries.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/fabric">fabric</a>
    <a href="http://fabricjs.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/fabric "1.5.0-0"]'/>
      <button data-clipboard-text='[cljsjs/fabric "1.5.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Fabric.js is a powerful and simple Javascript HTML5 canvas library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/facebook">facebook</a>
    <a href="https://developers.facebook.com/docs/javascript" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/facebook "v20150729-0"]'/>
      <button data-clipboard-text='[cljsjs/facebook "v20150729-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Facebook Javascript API</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/fastclick">fastclick</a>
    <a href="https://github.com/ftlabs/fastclick" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/fastclick "1.0.6-0"]'/>
      <button data-clipboard-text='[cljsjs/fastclick "1.0.6-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Polyfill to remove click delays on browsers with touch UIs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/firebase">firebase</a>
    <a href="https://www.firebase.com/docs/web/api/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/firebase "2.3.1-0"]'/>
      <button data-clipboard-text='[cljsjs/firebase "2.3.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript client for Firebase.com</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/fixed-data-table">fixed-data-table</a>
    <a href="https://github.com/facebook/fixed-data-table" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/fixed-data-table "0.4.1-0"]'/>
      <button data-clipboard-text='[cljsjs/fixed-data-table "0.4.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A React table component designed to allow presenting thousands of rows of data.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/flot">flot</a>
    <a href="http://www.flotcharts.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/flot "0.8.3-0"]'/>
      <button data-clipboard-text='[cljsjs/flot "0.8.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">flot packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/gl-matrix">gl-matrix</a>
    <a href="http://glmatrix.net/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'/>
      <button data-clipboard-text='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript Matrix and Vector library for High Performance WebGL apps</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/google-analytics">google-analytics</a>
    <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/google-analytics "2015.04.13-0"]'/>
      <button data-clipboard-text='[cljsjs/google-analytics "2015.04.13-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Google Universal Analytics (analytics.js)</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/google-maps">google-maps</a>
    <a href="https://developers.google.com/maps/documentation/javascript/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/google-maps "3.18-1"]'/>
      <button data-clipboard-text='[cljsjs/google-maps "3.18-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Google Maps ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hammer">hammer</a>
    <a href="http://hammerjs.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hammer "2.0.4-5"]'/>
      <button data-clipboard-text='[cljsjs/hammer "2.0.4-5"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A javascript library for multi-touch gestures</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hashids">hashids</a>
    <a href="https://github.com/ivanakimov/hashids.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hashids "1.0.2-0"]'/>
      <button data-clipboard-text='[cljsjs/hashids "1.0.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A small JavaScript class to generate YouTube-like hashids from one or many numbers. This is a client-side version of Node.js version.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/heap">heap</a>
    <a href="https://heapanalytics.com/docs/custom-api" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/heap "0.0.1-0"]'/>
      <button data-clipboard-text='[cljsjs/heap "0.0.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Heap  js ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/highcharts">highcharts</a>
    <a href="http://highcharts.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/highcharts "4.1.8-1"]'/>
      <button data-clipboard-text='[cljsjs/highcharts "4.1.8-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Create interactive charts easily for your web projects.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/highlight">highlight</a>
    <a href="https://highlightjs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/highlight "8.4-0"]'/>
      <button data-clipboard-text='[cljsjs/highlight "8.4-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Javascript syntax highlighter https://highlightjs.org/</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/highstock">highstock</a>
    <a href="http://highcharts.com/products/highstock" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/highstock "2.1.8-0"]'/>
      <button data-clipboard-text='[cljsjs/highstock "2.1.8-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Highstock lets you create stock or general timeline charts in pure JavaScript.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery">jquery</a>
    <a href="http://jquery.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery "2.1.4-0"]'/>
      <button data-clipboard-text='[cljsjs/jquery "2.1.4-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">The Write Less, Do More, JavaScript Library.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-daterange-picker">jquery-daterange-picker</a>
    <a href="https://github.com/longbill/jquery-date-range-picker" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-daterange-picker "0.0.5-2"]'/>
      <button data-clipboard-text='[cljsjs/jquery-daterange-picker "0.0.5-2"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A jQuery plugin that allows user to select a date range.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-ui">jquery-ui</a>
    <a href="http://jqueryui.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-ui "1.11.3-1"]'/>
      <button data-clipboard-text='[cljsjs/jquery-ui "1.11.3-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">jQuery-ui packaged with google closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/js-yaml">js-yaml</a>
    <a href="http://nodeca.github.com/js-yaml/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/js-yaml "3.3.1-0"]'/>
      <button data-clipboard-text='[cljsjs/js-yaml "3.3.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JavaScript YAML parser and dumper. Very fast.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jsdiff">jsdiff</a>
    <a href="https://github.com/kpdecker/jsdiff" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jsdiff "1.2.2-0"]'/>
      <button data-clipboard-text='[cljsjs/jsdiff "1.2.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JsDiff packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jszip">jszip</a>
    <a href="http://stuk.github.io/jszip/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jszip "2.5.0-0"]'/>
      <button data-clipboard-text='[cljsjs/jszip "2.5.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Create, read and edit .zip files</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/juration">juration</a>
    <a href="https://github.com/domchristie/juration" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/juration "0.0.1-0"]'/>
      <button data-clipboard-text='[cljsjs/juration "0.0.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Human friendly time duration parsing.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/kemia">kemia</a>
    <a href="http://kemia.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/kemia "0.2.0"]'/>
      <button data-clipboard-text='[cljsjs/kemia "0.2.0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A chemical structure library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/klayjs">klayjs</a>
    <a href="https://github.com/OpenKieler/klayjs" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/klayjs "0.3.2-0"]'/>
      <button data-clipboard-text='[cljsjs/klayjs "0.3.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A layer-based layout algorithm, particularly suited for node-link diagrams with an inherent direction and ports.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/leaflet">leaflet</a>
    <a href="http://leafletjs.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/leaflet "0.7.3-4"]'/>
      <button data-clipboard-text='[cljsjs/leaflet "0.7.3-4"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JavaScript Library for Mobile-Friendly Interactive Maps</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/llexus-form">llexus-form</a>
    <a href="https://github.com/little-arhat/llexus-form" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/llexus-form "0.7.0-1"]'/>
      <button data-clipboard-text='[cljsjs/llexus-form "0.7.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A dynamic form component for React using a specification format based on JSON-Schema.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/llexus-validate">llexus-validate</a>
    <a href="https://github.com/little-arhat/llexus-validate" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/llexus-validate "0.1.0-1"]'/>
      <button data-clipboard-text='[cljsjs/llexus-validate "0.1.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A simple validator for a subset of JSON-Schema.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/localforage">localforage</a>
    <a href="https://github.com/mozilla/localForage" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/localforage "1.2.10-0"]'/>
      <button data-clipboard-text='[cljsjs/localforage "1.2.10-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">localForage is a fast and simple storage library for JavaScript. localForage improves the offline experience of your web app by using asynchronous storage (IndexedDB or WebSQL) with a simple, localStorage-like API.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/lodash">lodash</a>
    <a href="https://lodash.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/lodash "3.10.1-0"]'/>
      <button data-clipboard-text='[cljsjs/lodash "3.10.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript utility library delivering consistency, modularity, performance, & extras.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/markdown">markdown</a>
    <a href="https://github.com/evilstreak/markdown-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/markdown "0.6.0-beta1-0"]'/>
      <button data-clipboard-text='[cljsjs/markdown "0.6.0-beta1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Markdown parser for javascript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/marked">marked</a>
    <a href="https://github.com/chjj/marked" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/marked "0.3.5-0"]'/>
      <button data-clipboard-text='[cljsjs/marked "0.3.5-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A markdown parser and compiler. Built for speed.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/material">material</a>
    <a href="https://www.getmdl.io" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/material "1.0.4-0"]'/>
      <button data-clipboard-text='[cljsjs/material "1.0.4-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Material Design Lite is a lightweight HTML, CSS and JS framework for sites that follow Google&#39;s Material Design guidelines.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/matter">matter</a>
    <a href="http://brm.io/matter-js/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/matter "0.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/matter "0.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Matter.js is a JavaScript 2D rigid body physics engine for the web</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/media-stream-recorder">media-stream-recorder</a>
    <a href="https://github.com/streamproc/MediaStreamRecorder" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/media-stream-recorder "1.2.6-0"]'/>
      <button data-clipboard-text='[cljsjs/media-stream-recorder "1.2.6-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Record from your webcam to a File (Blob) in Chrome and Firefox.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/medium-editor">medium-editor</a>
    <a href="https://daviferreira.github.io/medium-editor/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/medium-editor "4.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/medium-editor "4.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Medium.com WYSIWYG editor clone</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/moment">moment</a>
    <a href="http://momentjs.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/moment "2.10.6-0"]'/>
      <button data-clipboard-text='[cljsjs/moment "2.10.6-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A javascript date library for parsing, validating, manipulating, and formatting dates.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/moment-range">moment-range</a>
    <a href="http://gf3.github.io/moment-range/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/moment-range "2.0.3-0"]'/>
      <button data-clipboard-text='[cljsjs/moment-range "2.0.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A javascript date library for parsing, validating, manipulating, and formatting dates.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mousetrap">mousetrap</a>
    <a href="https://craig.is/killing/mice" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mousetrap "1.5.3-0"]'/>
      <button data-clipboard-text='[cljsjs/mousetrap "1.5.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Simple library for handling keyboard shortcuts in Javascript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mui">mui</a>
    <a href="https://www.muicss.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mui "0.1.21-0"]'/>
      <button data-clipboard-text='[cljsjs/mui "0.1.21-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">MUI is a lightweight HTML, CSS and JS framework for sites that follow Google&#39;s Material Design guidelines.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mustache">mustache</a>
    <a href="https://github.com/janl/mustache.js/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mustache "1.1.0-0"]'/>
      <button data-clipboard-text='[cljsjs/mustache "1.1.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Mustache.js packaged up with Google Closure externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/nodejs-externs">nodejs-externs</a>
    <a href="https://github.com/dcodeIO/node.js-closure-compiler-externs" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/nodejs-externs "1.0.4-1"]'/>
      <button data-clipboard-text='[cljsjs/nodejs-externs "1.0.4-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Node.js Google Closure Compiler Externs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/nprogress">nprogress</a>
    <a href="http://ricostacruz.com/nprogress" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/nprogress "0.2.0-1"]'/>
      <button data-clipboard-text='[cljsjs/nprogress "0.2.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Slim progress bars for Ajax&#39;y applications. Inspired by Google, YouTube, and Medium.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/oauthio">oauthio</a>
    <a href="https://oauth.io" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/oauthio "0.4.0-0"]'/>
      <button data-clipboard-text='[cljsjs/oauthio "0.4.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">This is the JavaScript SDK for OAuth.io</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/object-assign-shim">object-assign-shim</a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/object-assign-shim "0.1.0-1"]'/>
      <button data-clipboard-text='[cljsjs/object-assign-shim "0.1.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">ES6 Object.assign method polyfill.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/oboe">oboe</a>
    <a href="http://oboejs.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/oboe "2.1.2-1"]'/>
      <button data-clipboard-text='[cljsjs/oboe "2.1.2-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A streaming approach to JSON. Oboe.js speeds up web applications by providing parsed objects before the response completes.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/openlayers">openlayers</a>
    <a href="http://openlayers.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/openlayers "3.5.0-1"]'/>
      <button data-clipboard-text='[cljsjs/openlayers "3.5.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A high-performance, feature-packed library for all your mapping needs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pako">pako</a>
    <a href="http://nodeca.github.io/pako/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pako "0.2.7-0"]'/>
      <button data-clipboard-text='[cljsjs/pako "0.2.7-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">zlib port to javascript, very fast!</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/papaparse">papaparse</a>
    <a href="http://PapaParse.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/papaparse "4.1.1-1"]'/>
      <button data-clipboard-text='[cljsjs/papaparse "4.1.1-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Fast and powerful CSV (delimited text) parser that gracefully handles large files and malformed input</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/paperjs">paperjs</a>
    <a href="http://paperjs.org" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/paperjs "0.9.24-0"]'/>
      <button data-clipboard-text='[cljsjs/paperjs "0.9.24-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">The Swiss Army Knife of Vector Graphics Scripting</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/parse">parse</a>
    <a href="https://parse.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/parse "1.6.0-0"]'/>
      <button data-clipboard-text='[cljsjs/parse "1.6.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Parse JavaScript SDK</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/peg">peg</a>
    <a href="http://pegjs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/peg "0.8.0-0"]'/>
      <button data-clipboard-text='[cljsjs/peg "0.8.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">PEG.js: Parser generator for JavaScript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/phaser">phaser</a>
    <a href="http://phaser.io" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/phaser "2.4.2-0"]'/>
      <button data-clipboard-text='[cljsjs/phaser "2.4.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Phaser is a fast, free, and fun open source framework for Canvas and WebGL powered browser games.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pikaday">pikaday</a>
    <a href="https://github.com/dbushell/Pikaday" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pikaday "1.3.2-0"]'/>
      <button data-clipboard-text='[cljsjs/pikaday "1.3.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A refreshing JavaScript Datepicker - lightweight, no dependencies, modular CSS</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pixi">pixi</a>
    <a href="http://www.pixijs.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pixi "3.0.7-0"]'/>
      <button data-clipboard-text='[cljsjs/pixi "3.0.7-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">2D webGL renderer with canvas fallback</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/plottable">plottable</a>
    <a href="http://plottablejs.org" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/plottable "1.12.0-0"]'/>
      <button data-clipboard-text='[cljsjs/plottable "1.12.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Flexible, interactive charts for the web.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pouchdb">pouchdb</a>
    <a href="http://pouchdb.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pouchdb "3.5.0-1"]'/>
      <button data-clipboard-text='[cljsjs/pouchdb "3.5.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">PouchDB is an open-source JavaScript database inspired by Apache CouchDB that is designed to run well within the browser</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pubnub">pubnub</a>
    <a href="http://www.pubnub.com" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pubnub "3.7.14-0"]'/>
      <button data-clipboard-text='[cljsjs/pubnub "3.7.14-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Interface for pubnub realtime messaging services</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/quill">quill</a>
    <a href="http://quilljs.com/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/quill "0.20.0-0"]'/>
      <button data-clipboard-text='[cljsjs/quill "0.20.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Quill is a free, open source WYSIWYG editor built for the modern web.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react">react</a>
    <a href="http://facebook.github.io/react/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react "0.14.0-rc1-0"]'/>
      <button data-clipboard-text='[cljsjs/react "0.14.0-rc1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Javascript library for building user interfaces</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-bootstrap">react-bootstrap</a>
    <a href="https://react-bootstrap.github.io/index.html" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-bootstrap "0.25.2-0"]'/>
      <button data-clipboard-text='[cljsjs/react-bootstrap "0.25.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">The most popular front-end framework, rebuilt for React.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-dom">react-dom</a>
    <a href="http://facebook.github.io/react/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-dom "0.14.0-rc1-0"]'/>
      <button data-clipboard-text='[cljsjs/react-dom "0.14.0-rc1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Javascript library for building user interfaces</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-router">react-router</a>
    <a href="https://github.com/rackt/react-router" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-router "0.13.2-0"]'/>
      <button data-clipboard-text='[cljsjs/react-router "0.13.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A complete routing solution for React.js</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-with-addons">react-with-addons</a>
    <a href="http://facebook.github.io/react/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-with-addons "0.14.0-rc1-0"]'/>
      <button data-clipboard-text='[cljsjs/react-with-addons "0.14.0-rc1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Javascript library for building user interfaces</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/reactabular">reactabular</a>
    <a href="http://bebraw.github.io/reactabular/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/reactabular "0.7.0-0"]'/>
      <button data-clipboard-text='[cljsjs/reactabular "0.7.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A React tabular component.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/selectize">selectize</a>
    <a href="http://brianreavis.github.io/selectize.js/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/selectize "0.12.1-1"]'/>
      <button data-clipboard-text='[cljsjs/selectize "0.12.1-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Selectize is the hybrid of a textbox and &lt;select&gt; box.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/showdown">showdown</a>
    <a href="https://github.com/showdownjs/showdown" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/showdown "0.4.0-1"]'/>
      <button data-clipboard-text='[cljsjs/showdown "0.4.0-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A Markdown to HTML converter written in Javascript</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/stripe">stripe</a>
    <a href="https://stripe.com/docs/stripe.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/stripe "2.0-0"]'/>
      <button data-clipboard-text='[cljsjs/stripe "2.0-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Stripe js ext lib</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/three">three</a>
    <a href="http://d3js.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/three "0.0.70-0"]'/>
      <button data-clipboard-text='[cljsjs/three "0.0.70-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">JavaScript 3D library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/topojson">topojson</a>
    <a href="https://github.com/mbostock/topojson" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/topojson "1.6.18-0"]'/>
      <button data-clipboard-text='[cljsjs/topojson "1.6.18-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">An extension to GeoJSON that encodes topology</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/typeahead-bundle">typeahead-bundle</a>
    <a href="https://github.com/twitter/typeahead.js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/typeahead-bundle "0.11.1-1"]'/>
      <button data-clipboard-text='[cljsjs/typeahead-bundle "0.11.1-1"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A flexible JavaScript library that provides a strong foundation for building robust typeaheads.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/vega">vega</a>
    <a href="https://vega.github.io/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/vega "2.2.5-0"]'/>
      <button data-clipboard-text='[cljsjs/vega "2.2.5-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Vega is a declarative format for creating, saving, and sharing visualization designs</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/virtual-dom">virtual-dom</a>
    <a href="https://github.com/Matt-Esch/virtual-dom" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/virtual-dom "2.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/virtual-dom "2.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A JavaScript DOM model supporting element creation, diff computation and patch operations for efficient re-rendering</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/vis">vis</a>
    <a href="http://visjs.org/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/vis "4.8.1-0"]'/>
      <button data-clipboard-text='[cljsjs/vis "4.8.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Dynamic, browser-based visualization library</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/wad">wad</a>
    <a href="http://www.codecur.io/us/songdemo" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/wad "2.2.3-0"]'/>
      <button data-clipboard-text='[cljsjs/wad "2.2.3-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Web Audio DAW. Use the HTML5 Web Audio API for dynamic sound synthesis.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/waypoints">waypoints</a>
    <a href="http://imakewebthings.com/waypoints/" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/waypoints "3.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/waypoints "3.1.1-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">Waypoints is a library that makes it easy to execute a function whenever you scroll to an element.</p>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/web-animations">web-animations</a>
    <a href="https://github.com/web-animations/web-animations-js" target="new"><i class="fa fa-home"></i></a>
    <span class="clojars">
      <input type="text" value='[cljsjs/web-animations "2.1.2-0"]'/>
      <button data-clipboard-text='[cljsjs/web-animations "2.1.2-0"]'><i class="fa fa-copy"></i></button>
    </span>
    <p class="description">A polyfill for Web Animations</p>
  </li>
</ul>
