
<ul>
  <li>
    <a href="https://clojars.org/cljsjs/boot-cljsjs">cljsjs/boot-cljsjs</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/boot-cljsjs "0.4.7"]'/>
      <button data-clipboard-text='[cljsjs/boot-cljsjs "0.4.7"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/c3">cljsjs/c3</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/c3 "0.4.10-0"]'/>
      <button data-clipboard-text='[cljsjs/c3 "0.4.10-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/codemirror">cljsjs/codemirror</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/codemirror "5.1.0-0"]'/>
      <button data-clipboard-text='[cljsjs/codemirror "5.1.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/css-layout">cljsjs/css-layout</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/css-layout "0.0.2-0"]'/>
      <button data-clipboard-text='[cljsjs/css-layout "0.0.2-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/csv">cljsjs/csv</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/csv "1.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/csv "1.1.1-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/d3">cljsjs/d3</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/d3 "3.5.5-3"]'/>
      <button data-clipboard-text='[cljsjs/d3 "3.5.5-3"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/dimple">cljsjs/dimple</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/dimple "2.1.2-0"]'/>
      <button data-clipboard-text='[cljsjs/dimple "2.1.2-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/document-register-element">cljsjs/document-register-element</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/document-register-element "0.3.0-0"]'/>
      <button data-clipboard-text='[cljsjs/document-register-element "0.3.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/firebase">cljsjs/firebase</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/firebase "2.2.3-0"]'/>
      <button data-clipboard-text='[cljsjs/firebase "2.2.3-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/fixed-data-table">cljsjs/fixed-data-table</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/fixed-data-table "0.1.2-2"]'/>
      <button data-clipboard-text='[cljsjs/fixed-data-table "0.1.2-2"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/flot">cljsjs/flot</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/flot "0.8.3-0"]'/>
      <button data-clipboard-text='[cljsjs/flot "0.8.3-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/gl-matrix">cljsjs/gl-matrix</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'/>
      <button data-clipboard-text='[cljsjs/gl-matrix "2.3.0-jenanwise-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/google-maps">cljsjs/google-maps</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/google-maps "3.18-1"]'/>
      <button data-clipboard-text='[cljsjs/google-maps "3.18-1"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hammer">cljsjs/hammer</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hammer "2.0.4-4"]'/>
      <button data-clipboard-text='[cljsjs/hammer "2.0.4-4"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/hashids">cljsjs/hashids</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/hashids "1.0.2-0"]'/>
      <button data-clipboard-text='[cljsjs/hashids "1.0.2-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/heap">cljsjs/heap</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/heap "0.0.1-0"]'/>
      <button data-clipboard-text='[cljsjs/heap "0.0.1-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/highlight">cljsjs/highlight</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/highlight "8.4-0"]'/>
      <button data-clipboard-text='[cljsjs/highlight "8.4-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery">cljsjs/jquery</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery "1.9.0-0"]'/>
      <button data-clipboard-text='[cljsjs/jquery "1.9.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-daterange-picker">cljsjs/jquery-daterange-picker</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-daterange-picker "0.0.5-2"]'/>
      <button data-clipboard-text='[cljsjs/jquery-daterange-picker "0.0.5-2"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jquery-ui">cljsjs/jquery-ui</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jquery-ui "1.11.3-1"]'/>
      <button data-clipboard-text='[cljsjs/jquery-ui "1.11.3-1"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/jsdiff">cljsjs/jsdiff</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/jsdiff "1.2.2-0"]'/>
      <button data-clipboard-text='[cljsjs/jsdiff "1.2.2-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/leaflet">cljsjs/leaflet</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/leaflet "0.7.3-0"]'/>
      <button data-clipboard-text='[cljsjs/leaflet "0.7.3-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/moment">cljsjs/moment</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/moment "2.9.0-0"]'/>
      <button data-clipboard-text='[cljsjs/moment "2.9.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mui">cljsjs/mui</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mui "0.0.5-0"]'/>
      <button data-clipboard-text='[cljsjs/mui "0.0.5-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/mustache">cljsjs/mustache</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/mustache "1.1.0-0"]'/>
      <button data-clipboard-text='[cljsjs/mustache "1.1.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/oauthio">cljsjs/oauthio</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/oauthio "0.4.0-0"]'/>
      <button data-clipboard-text='[cljsjs/oauthio "0.4.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/object-assign-shim">cljsjs/object-assign-shim</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/object-assign-shim "0.1.0-1"]'/>
      <button data-clipboard-text='[cljsjs/object-assign-shim "0.1.0-1"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/openlayers">cljsjs/openlayers</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/openlayers "3.3.0-0"]'/>
      <button data-clipboard-text='[cljsjs/openlayers "3.3.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pako">cljsjs/pako</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pako "0.2.6-0"]'/>
      <button data-clipboard-text='[cljsjs/pako "0.2.6-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pikaday">cljsjs/pikaday</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pikaday "1.3.2-0"]'/>
      <button data-clipboard-text='[cljsjs/pikaday "1.3.2-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/pouchdb">cljsjs/pouchdb</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/pouchdb "3.4.0-0"]'/>
      <button data-clipboard-text='[cljsjs/pouchdb "3.4.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react">cljsjs/react</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react "0.13.1-0"]'/>
      <button data-clipboard-text='[cljsjs/react "0.13.1-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-router">cljsjs/react-router</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-router "0.12.4-0"]'/>
      <button data-clipboard-text='[cljsjs/react-router "0.12.4-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/react-with-addons">cljsjs/react-with-addons</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/react-with-addons "0.13.1-0"]'/>
      <button data-clipboard-text='[cljsjs/react-with-addons "0.13.1-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/showdown">cljsjs/showdown</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/showdown "0.4.0-1"]'/>
      <button data-clipboard-text='[cljsjs/showdown "0.4.0-1"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/stripe">cljsjs/stripe</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/stripe "2.0-0"]'/>
      <button data-clipboard-text='[cljsjs/stripe "2.0-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/three">cljsjs/three</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/three "0.0.70-0"]'/>
      <button data-clipboard-text='[cljsjs/three "0.0.70-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/topojson">cljsjs/topojson</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/topojson "1.6.18-0"]'/>
      <button data-clipboard-text='[cljsjs/topojson "1.6.18-0"]'>Copy</button>
    </span>
  </li>
  <li>
    <a href="https://clojars.org/cljsjs/waypoints">cljsjs/waypoints</a>
    <span class="clojars">
      <input type="text" value='[cljsjs/waypoints "3.1.1-0"]'/>
      <button data-clipboard-text='[cljsjs/waypoints "3.1.1-0"]'>Copy</button>
    </span>
  </li>
</ul>
