<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div id="about-cljsjs" class="five columns">
          <img id="logo" src="/cljsjs.png">
          <!-- <p id="what-is-cljsjs">A unified way to depend on Javascript libraries in your Clojurescript projects.</p> -->
        </div>
        <div id="what-is-cljsjs" class="seven columns">
          <p class="huge">CLJSJS provides an easy way for Clojurescript developers
            to depend on Javascript libraries.</p>
        </div>
      </div>
      <div id="currently-available" class="row">
        <p>
          <strong>Already available:</strong>
          <a href="https://github.com/cljsjs/packages/tree/master/react">React.js</a>,
          <a href="https://github.com/cljsjs/packages/tree/master/hammer">Hammer.js</a>,
          <a href="https://github.com/cljsjs/packages/tree/master/jquery">jQuery</a>,
          <a href="https://github.com/cljsjs/packages/tree/master/moment">Moment.js</a>,
          <a href="https://github.com/cljsjs/packages/tree/master/pikaday">Pikaday.js</a> & more.
          <br>Learn how you can <a href="https://github.com/cljsjs/packages">create packages</a>.
        </p>
      </div>
      <div id="whats-in-the-box">{{content}}</div>
    </div>
  </body>
</html>
