<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div id="about-cljsjs" class="five columns">
          <img id="logo" src="/cljsjs.png">
          <!-- <p id="what-is-cljsjs">A unified way to depend on Javascript libraries in your Clojurescript projects.</p> -->
        </div>
        <div id="what-is-cljsjs" class="seven columns">
          <p class="huge">CLJSJS provides an easy way for Clojurescript developers
            to depend on Javascript libraries.</p>
        </div>
      </div>
      <div class="row">
        <div class="eight columns column offset-by-two" id="whats-in-the-box">{{content}}</div>
      </div>
      <div class="row">
        <div class="eight columns column offset-by-two" id="currently-available" class="row">
          <h3>Packages</h3>
          {% include packages.html %}
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
