<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      <div class="row">
        <div id="about-cljsjs" class="five columns">
          <img id="logo" src="/cljsjs.png">
          <!-- <p id="what-is-cljsjs">A unified way to depend on Javascript libraries in your Clojurescript projects.</p> -->
        </div>
        <div id="what-is-cljsjs" class="seven columns">
          <p class="huge">CLJSJS provides an easy way for Clojurescript developers
            to depend on Javascript libraries. It makes this possible by providing
            tooling to package them and use them in your project.</p>
        </div>
      </div>
      <div id="whats-in-the-box">{{content}}</div>
    </div>
  </body>
</html>
